[submodule "Gale/vendor/GLFW"]
	path = Gale/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Gale/vendor/imgui"]
	path = Gale/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
